# Labs Residency Environment
{{ description }}

## General Info
| What  |Description          | Version  | Other Info |
|-------|---------------------|----------|------------|
{% for item in general_info %}
| {{ item.what }} | {{ item.description }} | {{ item.version }} | {{ item.other_info }} |
{% endfor %}

**NOTE** To provide a trusted and secure connection to the Openshift Cluser and apps deployed on the cluster, import **CA Cert** found below.
- **CA Cert:** Can be downloaded here
- **Purpose:** {{ about.purpose }}
- **Install Date:** {{ about.install_date }}
- **Retired Date:** {{ about.retired_date }}
- **root access:** {{ about.root_access }}
- **Console URL:** {{ about.console_url }}
- **exposed registry:** {{ about.exposed_registry }}
- **Openshift logging:** {{ about.openshift_logging }}
- **Openshift metrics:** {{ about.openshift_metrics }}

|Instance | OpenShiftVer. | DNS / FQDN | IdM SSH | Idm/LDAP OC | Other Info |
|---------|---------------|------------|---------|-------------|------------|
{% for item in nodes %}
| {{ item.instance }} | {{ item.OpenShiftVer }} | {{ item.DNS_FQDN }} | {{ item.IdM_SSH }} | {{ item.IdM_LDAP_OC}} | {{ item.Other_Info}} |
{% endfor %}
